asgiref==3.8.1
Babel==2.9.1
colorama==0.4.6
ConfigParser==7.0.0
cryptography==37.0.1
cx_Oracle==8.3.0
docutils==0.18.1
docutils==0.18.1
email_validator==2.2.0
filelock==3.6.0
flask_babel==4.0.0
greenlet==1.1.1
HTMLParser==0.0.2
importlib_metadata==6.8.0
ipython==7.31.1
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.4.0
Pillow==10.1.0
Pillow==10.4.0
protobuf==5.27.2
pyOpenSSL==22.0.0
pyOpenSSL==24.1.0
pysqlcipher3==1.2.0
pytest==7.1.2
python-dotenv==1.0.1
redis==5.0.7
Sphinx==5.0.2
sqlcipher3==0.5.2
thread==2.0.3
tornado==6.3.3
urllib3_secure_extra==0.1.0
watchdog==3.0.0
xmlrpclib==1.0.1
