{% extends "base.html" %}

{% block content %}
    <!-- <script src="../static/js/socket.js"></script> -->
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            console.log("js started")
            var socket = io();
            
            socket.on('door', function(msg) {
                console.log(`new door attempt ${msg}`)
                // Assuming msg contains data and timestamp properties
                var table = document.getElementById('door_attempt_table').getElementsByTagName('tbody')[0];
                var newRow = table.insertRow();

                var timestampCell = newRow.insertCell(0);
                var uidCell = newRow.insertCell(1);
                var statusCell = newRow.insertCell(2);

                var [datetime, uid, status] = msg.data.split(", ")
                console.log(`datetime1: ${datetime}`)
                console.log(`uid: ${uid}`)
                console.log(`uid: ${status}`)
                timestampCell.textContent = datetime; 
                    uidCell.textContent = uid;
                statusCell.textContent = status;
            });

            socket.on('lights', function(msg){
                // Handle lights event
            })
        });
    </script>

    <div class="container">
        <h1 class="display-6">Comnet Dashboard</h1>
        <p>Current User: {{ current_user.username }}</p>

        <div class="row p-2">
            <h2>Door Attempt</h2>
            <table id="door_attempt_table">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>UID</th>
                        <th>Status</th>
                    </tr>
                </thead>
    
                <tbody>
    
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Door Control
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success" onclick="controlDoor('lock')">Lock Door</button>
                        <button class="btn btn-danger" onclick="controlDoor('unlock')">Unlock Door</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Fan Control
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success" onclick="controlFan('on')">Turn Fan On</button>
                        <button class="btn btn-danger" onclick="controlFan('off')">Turn Fan Off</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Light Control
                    </div>
                    <div class="card-body">
                        <button class="btn btn-success" onclick="controlLight('on')">Turn Light On</button>
                        <button class="btn btn-danger" onclick="controlLight('off')">Turn Light Off</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    function controlDoor(action) {
        // TODO: write logic for door lock/unlock

        // send POST request to /control_door
        fetch('/control_door', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json'
            }, 
            body: JSON.stringify({action})
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
        })
        .catch(error => {
            console.error("Error: ", error);
        });
    }

    function controlFan(action) {
        // TODO: write logic for fan
        alert('Fan ' + action);
    }

    function controlLight(action) {
        // TODO: over here, write actual logic to off/on light
        alert('Light ' + action);
    }
</script>

{% endblock %}
