{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Safe Access Dashboard</h1>
        <div class="row my-3 g-3">
            <div class="col-md-3 col-sm-6">
                <div class="card h-100 text-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title">Door</h5>
                        <a class="btn btn-outline-primary mt-auto" href="{{ url_for('send_data', client='door', message='unlock') }}">Unlock</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card h-100 text-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title">Fan</h5>
                        <div class="mt-auto">
                            <a class="btn btn-outline-success" href="{{ url_for('send_data', client='light&fan', message='fan_on') }}">ON</a>
                            <a class="btn btn-outline-danger" href="{{ url_for('send_data', client='light&fan', message='fan_off') }}">OFF</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card h-100 text-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title">Lights</h5>
                        <div class="mt-auto">
                            <a class="btn btn-outline-success" href="{{ url_for('send_data', client='light&fan', message='light_on') }}">ON</a>
                            <a class="btn btn-outline-danger" href="{{ url_for('send_data', client='light&fan', message='light_off') }}">OFF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class"row my-3">
            <div class="card h-100 text-center">
                <div class="card-body d-flex flex-column justify-content-center">
                    {% if latest_photo %}
                        <img id="latestPhoto" src="{{ latest_photo.image }}" alt="Latest doorbell photo" style="max-width: 100%;">
                        <p id="timestamp">Timestamp: {{ latest_photo.timestamp }}</p>
                    {% else %}
                        <p>No photo available</p>
                    {% endif %}
                    <!-- <h5 class="card-title">Check Front Door</h5> -->
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" -->
                            <!-- data-bs-target="#placeholderModal"> -->
                        <!-- Check -->
                    <!-- </button> -->
                    
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Smart Lock Log
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="door_attempt_table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">DateTime</th>
                                <th scope="col">Status</th>
                                <th scope="col">NFC_ID</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in door_logs %}
                                <tr>
                                    <td>{{ log.timestamp.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                    <td>{{ log.status }}</td>
                                    <td>{{ log.nfc_id }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ url_for('logs') }}" class="btn btn-outline-primary">View All Logs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Check who is at door modal #}
    <div class="modal fade" id="placeholderModal" tabindex="-1" aria-labelledby="placeholderModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="placeholderModalLabel">Front Door</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if latest_photo %}
                        <img id="latestPhoto" src"{{ latest_photo.image }}" alt="Latest doorbell photo" style="max-width: 100%;">
                        <p id="timestamp">Timestamp: {{ latest_photo.timestamp }}</p>
                    {% else %}
                        <p>No photo available</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script>
        let placeholderModal = document.getElementById('placeholderModal');
        placeholderModal.addEventListener('shown.bs.modal', function () {
            console.log("Modal is shown");
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            console.log("JS started");
            var socket = io();

            // Check if connected
            socket.on('connect', () => {
                console.log("Socket.IO connected!");
            });

            socket.on("door", function (msg) {
                console.log(`Received new door attempt message: ${JSON.stringify(msg)}`);

                if (msg && msg.data) {
                    // Assuming msg contains data and timestamp properties
                    var table = document.getElementById('door_attempt_table').getElementsByTagName('tbody')[0];
                    var newRow = table.insertRow();

                    var timestampCell = newRow.insertCell(0);
                    var uidCell = newRow.insertCell(1);
                    var statusCell = newRow.insertCell(2);

                    var [datetime, uid, status] = msg.data.split(", ");
                    console.log(`datetime: ${datetime}`);
                    console.log(`uid: ${uid}`);
                    console.log(`status: ${status}`);
                    timestampCell.textContent = datetime;
                    uidCell.textContent = uid;
                    statusCell.textContent = status;
                } else {
                    console.log("Received malformed message:", msg);
                }
            });

            socket.on('lights', function (msg) {
                // Handle lights event
                console.log(`Received lights message: ${JSON.stringify(msg)}`);
            });

            socket.on('disconnect', () => {
                console.log("Socket.IO disconnected!");
            });
        });
    </script>
{% endblock %}
