{% extends "base.html" %}

{% block content %}
    <div class="row my-3">
        <div class="col-12">
            <h1 class="text-center">Smart Lock</h1>
            <div class="row my-3 g-3">
                <div class="col-md-3 col-sm-6">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">Door</h5>
                            <button class="btn btn-outline-primary mt-auto">Control</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">Fan</h5>
                            <div class="mt-auto">
                                <button class="btn btn-outline-success">ON</button>
                                <button class="btn btn-outline-danger">OFF</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">Lights</h5>
                            <div class="mt-auto">
                                <button class="btn btn-outline-success">ON</button>
                                <button class="btn btn-outline-danger">OFF</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card h-100 text-center">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">Num of Users</h5>
                            <p class="card-text display-4 mt-auto">3</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Smart Lock Log
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">DateTime</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1/1/24 5:00:00</td>
                                        <td>Successful</td>
                                        <td>123456789009</td>
                                    </tr>
                                    <tr>
                                        <td>1/1/24 5:05:00</td>
                                        <td>Fail</td>
                                        <td>123456789010</td>
                                    </tr>
                                    <tr>
                                        <td>1/1/24 5:10:00</td>
                                        <td>Successful</td>
                                        <td>123456789011</td>
                                    </tr>
                                    <tr>
                                        <td>1/1/24 5:15:00</td>
                                        <td>Fail</td>
                                        <td>123456789012</td>
                                    </tr>
                                    <tr>
                                        <td>1/1/24 5:20:00</td>
                                        <td>Successful</td>
                                        <td>123456789013</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{{ url_for('logs') }}" class="btn btn-primary">View All Logs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
